<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Login Page</title>
    <link rel="stylesheet" href="login.component.css">
</head>
    <body>
            <div class="box" >
            
                <div class="login-form">
                    <form (ngSubmit)="login()" #loginForm="ngForm" novalidate>
                        <h2 >Login</h2>
                        <div *ngIf="!authService.isLoggedIn && invalidCredentials==1" style="color: red;">Invalid credentials</div>
                    
                        <div class="inputBox">
                            <label for="username"><span>Username:</span> </label>
                            <input type="text" id="username"  [(ngModel)]="username" name="username" [ngModelOptions]="{standalone: true}" required
                            #usernameNgModel="ngModel">
                            <i></i>
                        </div>
                            <br>
                        <div >
                            <div *ngIf="usernameNgModel.invalid && (usernameNgModel.dirty || usernameNgModel.touched)" class="error-message">
                                username is required
                            </div> 
                        
                        </div>
                    
                    
                        <br>
                        <div class="inputBox">
                            <label for="password"><span>Enter Password:</span></label>
                            <input type="password" id="password" [(ngModel)]="password" name="password" [ngModelOptions]="{standalone: true}"
                            required #passwordNgModel="ngModel">
                            <i></i>
                        </div>
                        <br>
                        <div>
                            <div *ngIf="passwordNgModel.invalid && (passwordNgModel.dirty || passwordNgModel.touched || loginForm.submitted)"
                            class="error-message">Password is required
                            </div>
                    
                        </div>
                    
                        
                    
                        <!-- <label for="role">Role:</label>
                        <select id="role" [(ngModel)]="role" name="role" required #roleNgModel="ngModel">
                        <option value="" disabled>Select a role</option>
                        <option value="ADMIN">ADMIN</option>
                        <option value="CUSTOMER">CUSTOMER</option>
                        </select>
                    
                        <div *ngIf="roleNgModel.invalid && (roleNgModel.dirty || roleNgModel.touched)" class="error-message">Role is
                        required</div><br> -->
                    
                    
                        <input type="submit" [disabled]="loginForm.invalid" value="login">
                        <!-- <input type="submit" value="Login"> -->
                                <div class="links">
                                    <a href="#">Forgot Password?</a>
                                    <a (click)="ToSignup()">SignUp</a>
                                </div>
                    </form>
                </div>
        </div>

    </body>
</html>